Source: nuget
Section: cli-mono
Priority: optional
Maintainer: Debian CLI Applications Team <pkg-cli-apps-team@lists.alioth.debian.org>
Uploaders: Jo Shields <directhex@apebox.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Homepage: http://nuget.org
Vcs-Git: git://git.debian.org/pkg-cli-apps/packages/nuget.git
Vcs-Browser: http://git.debian.org/?p=pkg-cli-libs/packages/nuget.git

Package: nuget
Architecture: all
Depends: libnuget-core-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Package manager for NuGet repos - executable
 NuGet is the package manager for the Microsoft
 development platform including .NET. The NuGet client 
 tools provide the ability to produce and consume 
 packages. The NuGet Gallery is the central package 
 repository used by all package authors and consumers.
 .
 This package contains the main NuGet binary.

Package: libnuget-core-cil
Architecture: all
Depends: ${cli:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Package manager for NuGet repos - library
 NuGet is the package manager for the Microsoft
 development platform including .NET. The NuGet client 
 tools provide the ability to produce and consume 
 packages. The NuGet Gallery is the central package 
 repository used by all package authors and consumers.
 .
 This package contains the NuGet.Core library

Package: libnuget-core-cil-dev
Architecture: all
Depends: libnuget-core-cil (= ${binary:Version}), ${cli:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Package manager for NuGet repos - development
 NuGet is the package manager for the Microsoft
 development platform including .NET. The NuGet client 
 tools provide the ability to produce and consume 
 packages. The NuGet Gallery is the central package 
 repository used by all package authors and consumers.
 .
 This package contains development files for the
 NuGet.Core library.
