#!/usr/bin/make -f

%:
	dh $@  --with cli

override_dh_auto_build:
override_dh_auto_install:
	echo "noop"

override_dh_install:
	dh_install
	install -D -m 755 debian/nuget.sh debian/nuget/usr/bin/nuget

override_dh_clideps:
	dh_clideps --exclude-moduleref=wintrust.dll \
		--exclude-moduleref=crypt32.dll

override_dh_clean:
	dh_clean
