#!/usr/bin/make -f

%:
	dh $@  --with cli

override_dh_auto_build:
	./build-minimal.sh

override_dh_install:
	dh_install
	install -D -m 755 debian/nuget.sh debian/nuget/usr/bin/nuget

override_dh_clean:
	dh_clean
	rm -fr src/CommandLine/bin/
	rm -fr src/CommandLine/obj/
	rm -fr src/Core/bin/
	rm -fr src/Core/obj/
	rm -fr xdt/XmlTransform/bin/
	rm -fr xdt/XmlTransform/obj/

